extends layout


block main
	.sm-col.sm-col-12
		h1 Sahil Khoja
		h1 Student at Cornell University
		h1 Experience Design Intern at Intuit
		| &nbsp;
block content
	.sm-col.sm-col-12
		h2 Some Post
		h3 Some subtitle Read more
		| &nbsp;
		h2 Some Post
		h3 Some subtitle Read more
		| &nbsp;
		h2 Some Post
		h3 Some subtitle Read more
		| &nbsp;