extends layout


block main
	h2 Portfolio: work, freelance, and fun.
	| &nbsp;
block content
	.clearfix
		.sm-col.sm-col-3
			img(src="/images/intuitport.png" class="fit")
		.sm-col.sm-col-9.px4
			h3 Experience Design Intern, Summer '16. To see this work, please
				a(href="mailto: sk938@cornell.edu") contact me directly.

	a(href="/portfolio/uber")
		.clearfix
			.sm-col.sm-col-3
				img(src="/images/uberport.png" class="fit")
			.sm-col.sm-col-9.px4
				h3 Over winter break (2015), I went to Southeast Asia to talk to Uber drivers about their problems. Here are some ways we can use design to solve them.
	a(href="/portfolio/dangle")
		.clearfix
			.sm-col.sm-col-3
				img(src="/images/dangleport.png" class="fit")
			.sm-col.sm-col-9.px4
				h3 I took a gap semester (Fall 2015) to help this startup bring its idea to life, through design.
	a(href="/portfolio/function")
		.clearfix
			.sm-col.sm-col-3
				img(src="/images/functionport.jpg" class="fit")
			.sm-col.sm-col-9.px4
				h3 Function needed some help getting off the ground, since the science behind the beauty scared people away. The Founder and I worked together to create awesome visuals to teach people, rather than leave users hanging.
	a(href="/portfolio/quora")
		.clearfix
			.sm-col.sm-col-3
				img(src="/images/quoraport.png" class="fit")
			.sm-col.sm-col-9.px4
				h3 I didn't know much about design when I started off. So I decided to go out in the real world with one of my favorite apps to see mobile interface theory in action.
