extends portfolio

block main
	h2 A side project with Uber's app in Southeast Asia.
block content
	div(id="1")
		.clearfix
			.sm-col.sm-col-6
				img(src="/images/uber1.png" class="fit")
			.sm-col.sm-col-6.px4
				p some shit
	div(id="2")
		.clearfix
			.sm-col.sm-col-6
				img(src="/images/uber2.png" class="fit")
			.sm-col.sm-col-6.px4
				p some more shit yee
	div(id="3")
		.clearfix
			.sm-col.sm-col-6
				img(src="/images/uber4.png" class="fit")
			.sm-col.sm-col-6.px4
				p some more shit yee
	div(id="4")
		.clearfix
			.sm-col.sm-col-6
				img(src="/images/explore.jpg" class="fit")
			.sm-col.sm-col-6.px4
				p some more shit yee
	div(id="5")
		.clearfix
			.sm-col.sm-col-6
				img(src="/images/uber8.png" class="fit")
			.sm-col.sm-col-6.px4
				p some more shit yee
	div(id="6")
		.clearfix
			.sm-col.sm-col-6
				img(src="/images/uber6.png" class="fit")
			.sm-col.sm-col-6.px4
				p some more shit yee
	div(id="7")
		.clearfix
			.sm-col.sm-col-6
				img(src="/images/uber7.png" class="fit")
			.sm-col.sm-col-6.px4
				p some more shit yee
	div(id="8")
		.clearfix
			.sm-col.sm-col-6
				img(src="/images/uber9.png" class="fit")
			.sm-col.sm-col-6.px4
				p some more shit yee
